<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyHW.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=DESKTOP-EKRVM5K;Initial Catalog=AdventureWorks;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.DatabasePhotoConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DatabasePhoto.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.PhotobaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Photobase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.DataPhotobaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataPhotobase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.DataPhotoConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataPhoto.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.DatabaseAAAConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DatabaseAAA.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.MyAlbumConnectionString"
            connectionString="Data Source=.;Initial Catalog=MyAlbum;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>